/* Geral */
* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
body,::placeholder {
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:40px 0;
}
.header div{
  display: flex;
  align-items: center;
  gap:30px;
}
.header input {
  padding:12px 120px 12px 20px;
  background-color: #f5f5f5;
  border:none;
  border-radius:20px;
  font-size: 1rem;
}
.barraPesquisa {
  background-color: #f5f5f5;
  border-radius:20px;
}
.barraPesquisa::after{
  content: '';
  background-image: url("../img/lupa.svg");
  width:18px;
  height:18px;
  margin-right: 15px;
}
.header input:focus{
  outline: none;
}
.btnLogin {
  padding:20px 80px;
  border:2px #2A7AE4 solid;
  color:#2A7AE4;
  position: relative;
  transition: 250ms;
}
.btnLogin:hover {
  color:white;
}
.btnLogin::before {
  position: absolute;
  content: '';
  width:100%;
  height:100%;
  top:0;
  left:0;
  transform: scaleY(0);
  transform-origin:bottom;
  transition: transform 250ms ease-in;
  background-color: #2A7AE4;
  z-index: -1;
}
.btnLogin:hover::before{
  transform: scaleY(1);
}

/* Introdução */
.introducao {
  width:100%;
  height: 352px;
  background: url("../img/Hero.png") no-repeat center;
  margin-bottom:100px;
  z-index: -2;
}
.introducao div {
  padding-top:155px;
  color:white;
}
.container {
  max-width:1136px;
  margin:0 auto;
}
.introducao h1 {
  font-size:3.15rem;
  margin-bottom:8px;
}
.introducao h2 {
  font-size:1.2rem;
  margin-bottom:8px;
}
.introducao a {
  display: inline-block;
  color:white;
  padding:14px;
  border:2px solid #2A7AE4;
  position: relative;
  z-index: 1;
}
.introducao a:hover {
  color:white;
}
.introducao a:before {
  position: absolute;
  content: '';
  width:100%;
  height:100%;
  top:0;
  left:0;
  transform: scaleY(1);
  transform-origin:bottom;
  transition: transform 250ms ease-in;
  background-color: #2A7AE4;
  z-index: -1;
}
.introducao a:hover:before {
  transform: scaleY(0);
}

/* Produtos */
.tipoProdutos {
  display:flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 150px;
}
.tipoProdutos a{
  font-weight: bold;
  color:#2A7AE4;
  font-size: 1rem;
}
.tipoProdutos a::after{
  content: " \1F86A";
  transition: 0.3s;
}
.tipoProdutos a:hover::after{
  margin-right: 3px;
}
.tipoProdutos h3 {
  font-size: 2rem;
  color:#464646;
}
.produtos {
  margin-top:25px;
  margin-bottom:64px;
  display:flex;
  gap:16px;
}
.produto h4 {
  font-size: 0.875rem;
}
.produto p {
  margin:5px 0 5px 0;
}
.produto a {
  color:#2A7AE4;
  font-weight: bold;
}
.produto a::before {
  content:'';
  width:0;
  height:8px;
  margin-right:3px;
  margin-bottom: 2px;
  display: inline-block;
  background-color: #2A7AE4;
  transition: 0.3s;
}
.produto a:hover::before {
  width:8px;
}

/* Footer */
.footer {
  background-color: #EAF2FD;
  z-index: -1;
}
.footerContainer {
  padding:64px 0;
  display:flex;
  justify-content: center;
  gap:112px;
}
.footerContainer nav ul {
  display: flex;
  flex-direction: column;
  gap:24px;
}
.footerContainer nav ul li a {
  color:#464646;
}
.footerContainer nav ul li a:hover{
  color:#2A7AE4;
}
.footerContato {
  width:560px;
}
.footerContato h3 {
  color:#464646;
  font-size: 1rem;
}
.footerContato input {
  margin-top:10px;
  margin-bottom:16px;
  display: block;
  border:none;
  border-radius:3px;
  font-size: 1rem;
  width:100%;
  padding:12px 0px 12px 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
 .footerContato textarea {
  display: block;
  border-radius:3px;
  font-size: 1rem;
  border:none;
  width:100%;
  height: 82px;
  resize: none;
  padding:12px 0px 12px 8px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.footerContato input, textarea:focus {
  outline: none;
}
.footerContato a {
  display: inline-block;
  color:white;
  padding:16px;
  border:2px #2A7AE4 solid;
  margin-top:8px;
  position: relative;
  z-index: 0;
  transition:0.3s;
}
.footerContato a:before {
  position: absolute;
  content: '';
  width:100%;
  height:100%;
  top:0;
  left:0;
  transform: scaleY(1);
  transform-origin:bottom;
  transition: transform 250ms ease-in;
  background-color: #2A7AE4;
  z-index: -1;
}
.footerContato a:hover {
  color:#2A7AE4;
}
.footerContato a:hover::before{
  transform: scaleY(0);
}
.dev {
  padding:30px 0px;
  background-color: white;
}
.footer p, small {
  color:#464646;
  display: block;
  text-align: center;
}